{% load endless %}
{% load i18n %}
{% paginate notice_list %}
{% get_pages %}
<form role="form" method="post">
    {% csrf_token %}
<table class="table">
    <thead>
        <tr><th>{% trans "message" %}</th><th>{% trans "time" %}</th><td>{% trans "Mark as read" %}</td></tr>
    </thead>
    {% for notice in notice_list %}
        <tr><td>{{ notice.message|safe }}</td><td>{{ notice.added|timesince }}</td><td><button type="submit" name="btn-{{ notice.pk }}" value="{{ notice.pk }}" class="btn btn-default btn-sm">{% trans "Mark" %}</button></td></tr>
    {% empty %}
        <tr><td colspan="3">{% trans "no messages" %}</td></tr>
    {% endfor %}
</table>
</form>
{% if pages|length > 1 %}
<div>
    <ul class="pagination pagination-sm">
    {% show_pages %}
    </ul>
</div>
{% endif %}